In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv(r'state.csv')

# Estimates of locations

In [4]:
print('Minimum observation is', df.Population.max())
print('Maximim observation is',df.Population.min())

Minimum observation is 37253956
Maximim observation is 563626

In [5]:
print('And the mean is',df.Population.mean())

And the mean is 6162876.3

In [6]:
from scipy.stats import trim_mean
print('trimmed mean is',trim_mean(df['Population'] , 0.1))
print('trimmed mean is',trim_mean(df['Population'] , 0.2))
#37253956 and 563626 is excluded in this mean as we selected 0.1, hence smallest and greatest values are not counted

trimmed mean is 4783697.125
trimmed mean is 4413915.966666667

In [7]:
print('weighted mean is',np.average(df["Murder.Rate"], weights=df["Population"]))

weighted mean is 4.445833981123393

In [8]:
print('Median is',df.Population.median())

Median is 4436369.5

In [9]:
df.sort_values('Murder.Rate', inplace = True)

In [10]:
def Cumulative(lists):
    cu_list = []
    length = len(lists)
    cu_list = [sum(lists[0:x:1]) for x in range(0, length+1)]
    return cu_list[1:]
 
# Driver Code

cf = Cumulative(df['Population'])

In [11]:
len(cf)

50

In [12]:
df.insert(4, 'cf', cf)

In [13]:
df.rename(columns={"Murder.Rate": "Murder_Rate"}, inplace=True)

In [14]:
df.insert(5, 'median', 4436369.5)

In [15]:
df

             State  Population  Murder_Rate Abbreviation         cf     median
28   New Hampshire     1316470          0.9           NH    1316470  4436369.5
22       Minnesota     5303925          1.6           MN    6620395  4436369.5
18           Maine     1328361          1.6           ME    7948756  4436369.5
44         Vermont      625741          1.6           VT    8574497  4436369.5
10          Hawaii     1360301          1.8           HI    9934798  4436369.5
14            Iowa     3046355          1.9           IA   12981153  4436369.5
36          Oregon     3831074          2.0           OR   16812227  4436369.5
20   Massachusetts     6547629          2.0           MA   23359856  4436369.5
11           Idaho     1567582          2.0           ID   24927438  4436369.5
43            Utah     2763885          2.3           UT   27691323  4436369.5
40    South Dakota      814180          2.3           SD   28505503  4436369.5
38    Rhode Island     1052567          2.4           RI   29558070  4436369.5
6      Connecticut     3574097          2.4           CT   33132167  4436369.5
46      Washington     6724540          2.5           WA   39856707  4436369.5
49         Wyoming      563626          2.7           WY   40420333  4436369.5
5         Colorado     5029196          2.8           CO   45449529  4436369.5
26        Nebraska     1826341          2.9           NE   47275870  4436369.5
48       Wisconsin     5686986          2.9           WI   52962856  4436369.5
33    North Dakota      672591          3.0           ND   53635447  4436369.5
15          Kansas     2853118          3.1           KS   56488565  4436369.5
31        New York    19378102          3.1           NY   75866667  4436369.5
25         Montana      989415          3.6           MT   76856082  4436369.5
16        Kentucky     4339367          3.6           KY   81195449  4436369.5
29      New Jersey     8791894          3.9           NJ   89987343  4436369.5
47   West Virginia     1852994          4.0           WV   91840337  4436369.5
34            Ohio    11536504          4.0           OH  103376841  4436369.5
45        Virginia     8001024          4.1           VA  111377865  4436369.5
42           Texas    25145561          4.4           TX  136523426  4436369.5
4       California    37253956          4.4           CA  173777382  4436369.5
35        Oklahoma     3751351          4.5           OK  177528733  4436369.5
2          Arizona     6392017          4.7           AZ  183920750  4436369.5
30      New Mexico     2059179          4.8           NM  185979929  4436369.5
37    Pennsylvania    12702379          4.8           PA  198682308  4436369.5
13         Indiana     6483802          5.0           IN  205166110  4436369.5
32  North Carolina     9535483          5.1           NC  214701593  4436369.5
12        Illinois    12830632          5.3           IL  227532225  4436369.5
21        Michigan     9883640          5.4           MI  237415865  4436369.5
3         Arkansas     2915918          5.6           AR  240331783  4436369.5
1           Alaska      710231          5.6           AK  241042014  4436369.5
41       Tennessee     6346105          5.7           TN  247388119  4436369.5
0          Alabama     4779736          5.7           AL  252167855  4436369.5
9          Georgia     9687653          5.7           GA  261855508  4436369.5
8          Florida    18801310          5.8           FL  280656818  4436369.5
7         Delaware      897934          5.8           DE  281554752  4436369.5
27          Nevada     2700551          6.0           NV  284255303  4436369.5
19        Maryland     5773552          6.1           MD  290028855  4436369.5
39  South Carolina     4625364          6.4           SC  294654219  4436369.5
24        Missouri     5988927          6.6           MO  300643146  4436369.5
23     Mississippi     2967297          8.6           MS  303610443  4436369.5
17       Louisiana     4533372         10.3           LA  308143815  4436369.5

In [34]:
cutoff = df['cf'].max()/2
print(type(cutoff))

<class 'float'>

In [17]:
print(cutoff)

154071907.5

In [43]:
df.sort_values('cf', inplace=True)

In [85]:
cf_1 = df['cf'].tolist()
for i in range(50):
    if cf_1[i] >= cutoff:
        index = cf_1[i]
        break
# print(index)
med = df.query("cf == 173777382")['Murder_Rate']
med

4    4.4
Name: Murder_Rate, dtype: float64

# Estimates of Variablity

In [86]:
print("standered Deviation is ",df['Population'].std())
print("Variance is ",df['Population'].var())

standered Deviation is  6848235.347401144
Variance is  46898327373394.47

In [87]:
print("Mean abs devation",df['Population'].mad())

Mean abs devation 4450933.356000001

In [93]:
lis = df["Population"].tolist()
sum = 0
for i in range(50):
    sum = sum +  abs(lis[i] - 6162876.3)
print("just a long way to find it",sum/len(lis))

just a long way to find it 4450933.356000001

In [92]:

lis2 = []
for i in range(50):
    lis2.insert(i,abs(lis[i] - 4436369.5))
lis2.sort()
print("Median abs Devation",(lis2[25] + lis2[26])/2)

2739408.0